---
name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.19

      - name: lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --enable-all

      - name: build
        run: go build -v ./...

      - name: test
        run: |
          go mod vendor
          go test -mod=vendor --race -gcflags=-l -v -coverprofile .coverage.out ./...
          rm -rf .coverage.out.tmp
          go tool cover -func .coverage.out
